.body {
  margin: 0em;
}

.navbar {
  background: rgb(217, 214, 129);
  background: linear-gradient(
    90deg,
    rgba(217, 214, 129, 1) 14%,
    rgba(2, 0, 36, 1) 66%,
    rgba(0, 212, 255, 1) 89%
  );
}

.cover {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  background-image: url("img/rsz_emile-perron-xrvdyzrgdw4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(240, 241, 238);
  background-blend-mode: darken;
}

.nav-item:hover {
  background-color: seashell;
  transition: background-color;
  width: 1fr;
  transition-duration: 2s;
  border-radius: 25%;
}

.navbar-brand:hover {
  background-color: seashell;
  transition-duration: 2s;
  border-radius: 25%;
}

.btn:hover {
  background-color: rgb(16, 179, 65);
  transition-duration: 2s;
  border-radius: 25%;
}

.card {
  height: 600px;
  border: 0 !important;
  box-shadow: 0px 4px 6px -1px;
}

.card-body {
  max-height: 400px;
}

.cont-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.contaier {
  justify-content: space-evenly;
}

@media (max-width: 788px) {
  .container {
    grid-column: 1 / span 3;
    grid-template-rows: repeat(5, 100px);
  }

  .card-body {
    height: 800px !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
